@model Category
@{
    ViewData["Title"] = "Create";
}

<form method='post' asp-action="Edit">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Category</h2>
        </div>
        <div asp-validation-summary=All class="text-danger"></div>
        <div class="form-group mb-3">
            <label asp-for="Name"></label>
            <input type='text' asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="DisplayOrder"></label>
            <input type='text' asp-for="DisplayOrder" class="form-control" />
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
        </div>
        <div class="">
            <button class="btn btn-info" asp-controller="Category" asp-action="Edit">Update</button>
            <a asp-controller="Category" asp-action="Index" class="btn btn-dark">Back to List</a>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}